@import "variables.sass"

*
    font-family: $site-font

body
    background-color: $body-bg

#menu
    background-color: $menu-bg
    margin-top: $menu-margin-top
    margin-left: $menu-margin-left
    margin-right: $menu-margin-right
    height: $menu-height

#menu > #menu-content > #menu-icon
    margin-left: $menu-icon-margin-left
    margin-top: $menu-icon-margin-top

#menu > #menu-content > #menu-icon:hover
    cursor: $menu-cursor-pointer

#menu > #menu-content > #menu-buttons
    margin-left: $menu-link-margin-left
    font-size: $menu-link-font-size
    margin-top: $menu-link-margin-top

#menu > #menu-content > #menu-buttons > a
    text-decoration: $menu-link-style-off
    color: $menu-link-color
    transition: $menu-link-transition
    margin-left: $menu-link-space

#menu > #menu-content > #menu-buttons > a:hover
    color: $menu-link-hover-color

#content-home
    text-align: $content-text-align

li 
    list-style-type: $li-list-style-type
ul
    margin-left: $ul-margin-left
    padding-left: $ul-padding-left

#header-home2
    margin-top: $header2-margin-top

#content-home1 > #img1
    width: $img-width
    height: $img-height
    float: $img1-float

#content-home1 > #text1
    margin-top: $text1-margin-top
    margin-left: $text1-margin-left
    text-align: $text-text-align
    float: $text1-float

#content-home2 > #img2
    width: $img-width
    height: $img-height
    float: $img2-float
    margin-bottom: $img2-margin-bottom

#content-home2 > #text2
    margin-top: $text2-margin-top
    margin-right: $text2-margin-right
    text-align: $text-text-align
    float: $text2-float

#content-contacts
    text-align: $content-contacts-text-align
    font-size: $content-contacts-font-size
    margin-top: $content-contacts-margin-top
    
#content-contacts > #contacts-telephone > #contacts-telephone-number
    vertical-align: $contacts-telephone-number-vertical-align

#content-contacts > #contacts-mail > #contacts-mail-link
    vertical-align: $contacts-mail-link-vertical-align

#content-students-life
    text-align: $content-students-life-text-align
    margin-top: $content-students-life-margin-top

#students-life-news1
    margin-top: $students-life-news1-margin-top
    float: $students-life-news1-float

#students-life-news1-text
    margin-top: $students-life-news1-text-margin-top
    margin-left: $students-life-news1-text-margin-left
    float: $students-life-news1-text-float
    text-align: $students-life-news1-text-text-align

#students-life-news2
    margin-top: $students-life-news2-margin-top
    margin-left: $students-life-news2-margin-left
    float: $students-life-news2-float

#students-life-news2-text
    margin-top: $students-life-news2-text-margin-top
    margin-left: $students-life-news2-text-margin-left
    float: $students-life-news2-text-float
    text-align: $students-life-news2-text-text-align

#students-life-news3
    margin-top: $students-life-news3-margin-top
    margin-left: $students-life-news3-margin-left
    float: $students-life-news3-float

#students-life-news3-text
    margin-top: $students-life-news3-text-margin-top
    margin-left: $students-life-news3-text-margin-left
    float: $students-life-news3-text-float
    text-align: $students-life-news3-text-text-align

#students-life-news3-img
    width: $students-life-news3-img-width
    height: $students-life-news3-img-height