/*===================All Pages===================*/
$site-font: sans-serif
    
$body-bg: #d9c1a3
    
$menu-bg: #478EC6
$menu-link-color: white
$menu-link-style-off: none
$menu-margin-top: -8px
$menu-margin-left: -10px
$menu-margin-right: -8px
$menu-height: 50px

$menu-cursor-pointer: pointer

$menu-link-space: 20px
$menu-link-margin-left: 370px
$menu-link-font-size: 20px
$menu-link-margin-top: -35px
$menu-link-transition: 0.2s
$menu-link-hover-color: red

$menu-icon-margin-left: 10px
$menu-icon-margin-top: 5px

$content-text-align: center

$li-list-style-type: none

$ul-margin-left: 0
$ul-padding-left: 0

/*===================Home Pages===================*/

$img-width: 500px
$img-height: 450px

$img1-float: left

$img2-float: right
$img2-margin-bottom: 20px 

$header2-margin-top: 600px

$text1-margin-top: 130px
$text1-margin-left: 150px
$text1-float: left

$text-text-align: center
$text2-float: left
$text2-margin-top: $text1-margin-top - 450px
$text2-margin-right: 600px

/*===================Contacts Pages===================*/

$content-contacts-text-align: center
$content-contacts-font-size: 20px
$content-contacts-margin-top: 200px

$contacts-telephone-number-vertical-align: 8px

$contacts-mail-link-vertical-align: 7px

/*===================Students Life Pages===================*/

$content-students-life-text-align: center
$content-students-life-margin-top: 70px 

$students-life-news1-margin-top: 70px
$students-life-news1-float: left

$students-life-news1-text-margin-top: 75px
$students-life-news1-text-margin-left: 10px
$students-life-news1-text-float: left
$students-life-news1-text-text-align: left

$students-life-news2-margin-top: 470px
$students-life-news2-margin-left: -905px
$students-life-news2-float: left

$students-life-news2-text-margin-top: 475px
$students-life-news2-text-margin-left: -395px
$students-life-news2-text-float: left
$students-life-news2-text-text-align: left

$students-life-news3-margin-top: 870px
$students-life-news3-margin-left: -905px
$students-life-news3-float: left

$students-life-news3-text-margin-top: 410px
$students-life-news3-text-margin-left: 510px
$students-life-news3-text-float: left
$students-life-news3-text-text-align: left

$students-life-news3-img-width: 500px
$students-life-news3-img-height: 375px

/*===================Driving School Pages===================*/

$driving-school-logo-width: 1000px
$driving-school-logo-height: 300px
$driving-school-logo-margin-top: 30px
$driving-school-logo-margin-left: 170px

$driving-school-pricelist-text-align: center
$driving-school-pricelist-font-weight: bold

$driving-school-pricelist-link-text-decoration: none
$driving-school-pricelist-link-color: #157fc4

$driving-school-pricelist-link-hover-text-decoration-line: underline

$driving-school-license-link-font-weight: bold
$driving-school-license-link-text-decoration: none
$driving-school-license-link-color: #157fc4
$driving-school-license-link-vertical-align: 15px

$driving-school-license-link-hover-text-decoration-line: underline

$driving-school-license-icon-width: 50px
$driving-school-license-icon-height: 50px

$driving-school-license-label-text-align: center

$driving-school-doc-for-students-header-text-align: center

$driving-school-documents-list-text-align: center

$driving-school-teachers-header-text-align: center

$driving-school-teachers-table-margin-left: 250px

$driving-school-teachers-table-header-text-align: left

$driving-school-teachers-photo-in-table-width: 100px
$driving-school-teachers-photo-in-table-height: 149px

$driving-school-teachers-fullname-text-align: left

$driving-school-teachers-img-width: 774px
$driving-school-teachers-img-height: 518px